/* App.css */

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h2 {
    margin-top: 0;
}
  
.calendar-container {
    margin-top: 20px;
    background-color: #add8e6;
}

.highlight {
    background-color: #ffcccc; /* Highlight color */
}

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: #add8e6; /* Light blue background */
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
